In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [3]:
df = pd.read_csv('framingham.csv')
df

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,Male,39,post grad,No,0.0,No,No,No,No,195.0,106.0,70.0,26.97,80.0,77.0,No
1,Female,46,Secondary Edu,No,0.0,No,No,No,No,250.0,121.0,81.0,28.73,95.0,76.0,No
2,Male,48,Primary Edu,Yes,20.0,No,No,No,No,245.0,127.5,80.0,25.34,75.0,70.0,No
3,Female,61,Tertiary Edu,Yes,30.0,No,No,Yes,No,225.0,150.0,95.0,28.58,65.0,103.0,Yes
4,Female,46,Tertiary Edu,Yes,23.0,No,No,No,No,285.0,130.0,84.0,23.10,85.0,85.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,Female,48,Secondary Edu,Yes,20.0,NaN,No,No,No,248.0,131.0,72.0,22.00,84.0,86.0,No
4236,Female,44,Primary Edu,Yes,15.0,No,No,No,No,210.0,126.5,87.0,19.16,86.0,NaN,No
4237,Female,52,Secondary Edu,No,0.0,No,No,No,No,269.0,133.5,83.0,21.47,80.0,107.0,No
4238,Male,40,Tertiary Edu,No,0.0,No,No,Yes,No,185.0,141.0,98.0,25.60,67.0,72.0,No
4239,Female,39,Tertiary Edu,Yes,30.0,No,No,No,No,196.0,133.0,86.0,20.91,85.0,80.0,No